@media (min-width: 992px) {.container {width: 940px;}}
@media (min-width: 1200px) {.container {width: 1050px;}}
.nav_bottom{margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.catagory{display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}
.category_img{
    position: absolute;
    top: 3px;
    width: 14px;
    height: 14px;}
.catagory_bar{display: flex;
    gap: 15px;}
.catagory_bar:hover{ color: #9E007F;
    cursor: pointer;
}
.nav_menu{display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 0;
    font-weight: bold;}

.sub{
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    height: 292.5px;
    top: 0px;
    left: 160.15px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}

.dropdown-products>li:hover .sub{ display: block;}
.deliver{display: flex;
    justify-content: end;
}
.deliver_icon{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    color:lightgrey;
    width: 120px;
    height: 25px;
    font-size: 13px;
    text-decoration: none;
}

.deliver_txt{color:#9E007F;}

.bg-danger{
    background-color: #9E007F !important;
}

.cartBox{
    z-index: index 2;
    position: absolute;
    bottom: 190px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #9E007F;
    opacity: 0.8;
    border-radius: 30px;
    padding: 10px;
}