
@media (min-width: 992px) {.container {width: 940px;}}
@media (min-width: 1200px) {.container {width: 1050px;}}
.fix {
    display: grid;
    grid-template-columns: 500;
    position: fixed;
    top: 0;
    min-width: 1050px;
    max-width: 1050px;
    z-index: 10;
    background-color: white;
}

.box-bottom {
    padding-bottom: 2px;
    border: 0px solid black;
    box-shadow: 0px 4px 5px -4px lightgray;
    background-color: white;
}

a:hover { color: #9E007F; }

.nav_top{margin: 8px 0 20px 0;
    padding: 36px,0,0;
    display: grid;
    justify-items:end;
    /* row-gap: 100px; */
}
.a_signup{color: #9E007F;
    text-decoration: none;
    font-family: 맑은고딕;;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.a_nomal{color: #333333;
    text-decoration: none;
    font-family: 맑은고딕;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.vr{font-size: smaller;
    font-family: 맑은고딕;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content { display: block; }

.dropdown-products {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-products { display: block; }


ul {
    /* background-color: #FFDAB9; */
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li_hd {
    display: block;
    color: #333333;
    font-family: 맑은고딕;
    font-size: 11px;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;

}
.li_hd:hover {
    background-color: #9E007F;
    color: white;
}
.li_hd_group {
    display: block;
    color: #333333;
    font-family: 맑은고딕;
    font-size: 11px;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;

}
.li_hd_group:hover {
    background-color: #9E007F;
    color: white;
}
