/* 모바일 세로 화면 */
@media (max-width: 575.98px) {
    /* 코드 작성 */
    .nav_top{
        font-size: 9px;
        margin: 5px 0 0 0;
        padding: 28px 0 0;
        display: grid;
        justify-items: end;
    }
    .nav_middle{
        font-size: 10px;
    }
    .logo {
        width: 55px;
        height: 50px;
    }
    .merry {
        color: #9E007F;
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
        font-family: 맑은고딕;
    }
    .icon_nav {
        width: 1.8em;
        height: 1.8em;

    }
    .nav_bottom{
        font-size: 11px;
    }

}

/* 모바일 가로 화면 */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* 코드 작성 */
    .nav_top{
        font-size: 9px;
    }
    .nav_middle{
        font-size: 10px;
    }
    .logo {
        width: 55px;
        height: 50px;
    }
    .merry {
        color: #9E007F;
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
        font-family: 맑은고딕;
    }
    .icon_nav {
        width: 1.8em;
        height: 1.8em;

    }
    .nav_bottom{
        font-size: 11px;
    }
}

/* 태블릿(갤럭시 탭, 아이패드) 화면 */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* 코드 작성 */
    .nav_top{
        font-size: 10px;
    }
    .nav_middle{
        font-size: 11px;
    }
    .nav_bottom{
        font-size: 12px;
    }
}

/* PC 화면 1200px 이하 */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* 코드 작성 */
}

/* PC 화면 1200px 이상 1920px 이하 */
@media (min-width: 1200px) and (max-width: 1919.99px) {
    /* 코드 작성 */
}

/* PC 화면 1920px 이상 */
@media (min-width: 1920px) {
    /* 코드 작성 */
}