@media (max-width: 576px){
    .register_P{
        padding-left: 0!important;
    }
}
@media (max-width: 768px) {
    .register_P {
        padding-left: 0 !important;;
    }
}
.register_P {
    padding-top: 1.5em;
    /*padding-left: 6em;*/
}

.separation {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    width: 300px !important;
    height: 35px !important;
    font-size: 14px !important;
}

.form-select {
    width: 300px !important;
    height: 35px !important;
    font-size: 14px !important;
}

.note {
    font-size: 12px;
}

.register_P .btn-primary {
    display: grid;
    justify-self: center;
    width: 350px;
    background-color: #9E007F;
    color: #f2f2f2;
    opacity: 0.8;
    border-radius: 6px;
}

.insert {
    padding: 20px 30px;
    display: block;
    width: 80%;
    margin: 2em auto;
    height: 70vh;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.insert .file-list {
    height: 100%;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
}

.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;

}

.insert .file-list .filebox .delete i {
    color: #9E007F;
    margin-left: 5px;
}

.nav-tabs {
    margin: 3em 0;
    width: 100%;
}