@media (min-width: 992px) {.container {width: 940px;}}
@media (min-width: 1200px) {.container {width: 1050px;}}
.banner{
    width: 1050px;
    padding-top: 170px;
}
.products{
    margin: 0;
}
.section{
    padding-top: 25px;
    padding-bottom: 45px;
}
.firstSection{
    min-width: 1050px;
    height: 590px;
}
.sectionTitle{
    display: flex;
    position: relative;
    justify-content: center;
    height: 48px;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 600;
    text-align: center;
}
.content1{
    display: flex;
    position: relative;
    width: 1050px;
    overflow: hidden;
    /* transform: translate(-100px); */
}
.content1>img {
    /* position: absolute; */
    /* left: 640px; */
    /* transition-delay: 1s; 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
    transition: margin-left 800ms cubic-bezier(0.0770, 0.000, 0.175, 1.000);
    padding: 0;
    margin: 0;
}
.innerCard{
    justify-content: flex-start;
    max-width: 262px;
    float: left;
}
.innerCard img{
    width: 100%;
}
.secondSection{
    width: 1050px;
    height: 590px;
}
.contentBu{
    display: flex;
    position: relative;
    width: 1050px;
    height: 180px;
    overflow: hidden;
    font-size: 14px;
    transform: translate(-100px);
}
.sectionButtonArea{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    place-content: center;
    width: 1050px;
    height: 180px;
    font-size: 14px;
}
.sectionButtonArea li {
    height: 60px;
    padding: 0 5px 20px 5px;

}
.sectionBu {
    height: 40px;

}
.btn-primary{
    border-radius: 20px;
    background: rgb(239, 239, 239);
    color: black;
    border-color: white;
}
.btn-primary:hover{
    background: #fcebf8;
    border-color: #9E007F;
    color: black;
}
.btn-primary:hover::after{
    background-color: #9E007F;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 90px;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: 0px 0px;
    border: 0px;
    opacity: 0.5;
    transition: opacity 0.15s ease 0s;
}
.slick-next{
    left: 1020px;
    top: 185px !important;
}
.slick-prev{
    left: 10px !important;
    top: 185px !important;
    z-index: 2;
}
.slick-next:before, .slick-prev:before {
    font-size: 25px !important;
    line-height: 1;
    opacity: 0.95 !important;
    color: #c530a7 !important;
}
